h1 span{
  padding : 0em;
  margin : 10px;
box-shadow: 0px 0px 0px 0px rgba(207,119,11,0.88);
}

body{background-color: 	#CECE;
}

.char1{
  color: #945c5c;
  font-size: 10px;
  font-family: Rammetto One;
}
.char2{
  color: #945c5c;
  font-size: 20px;
  font-family: Rammetto One;
}
.char3{
  color: #945c5c;
  font-size: 30px;
  font-family: Rammetto One;
}
.char4{
  color: #945c5c;
  font-size: 40px;
  font-family: Rammetto One;
}

.char6{
  color: #945c5c;
  font-size: 50px;
  font-family: Rammetto One;
}
.char7{
  color: #945c5c;
  font-size: 60px;
  font-family: Rammetto One;
}

.char9{
  color: #945c5c;
  font-size: 70px;
  font-family: Rammetto One;
}
.char10{
  color: #945c5c;
  font-size: 80px;
  font-family: Rammetto One;
}
.char11{
  color: #945c5c;
  font-size: 90px;
  font-family: Rammetto One;
}
.char12{
  color: #945c5c;
  font-size: 100px;
  font-family: Rammetto One;
}
.char13{
  color: #945c5c;
  font-size: 90px;
  font-family: Rammetto One;
}
.char15{
  color: #945c5c;
  font-size: 80px;
  font-family: Rammetto One;
}
.char16{
  color: #945c5c;
  font-size: 70px;
  font-family: Rammetto One;
}

.char17{
  color: #945c5c;
  font-size: 60px;
  font-family: Rammetto One;
}
.char18{
  color: #945c5c;
  font-size: 90px;
  font-family: Rammetto One;
}
.char19{
  color: #945c5c;
  font-size: 40px;
  font-family: Rammetto One;
}
.char20{
  color: #945c5c;
  font-size: 30px;
  font-family: Rammetto One;
}
.char21{
  color: #945c5c;
  font-size: 20px;
  font-family: Rammetto One;
}

.char22{
  color: #945c5c;
  font-size: 10px;
  font-family: Rammetto One;
}
